header{
    background-color: #43caf3;
}

footer{
    background-color: black;
    color:aliceblue;
}

.navbar-brand {
    font-size: 1.75rem;
    line-height: normal;
    color: #212529;
}

#navbarDropdown{
    border-color: #dccf35b5;
    color:aliceblue;
    background-color: #ff0000;
    font-size: 1.1rem;
    border-radius: .5rem;
}

#navbarDropdown:hover{
    background-color: rgb(255 212 0 / 96%);
    color: #21252991;
    border-color: #dccf35b5;
    border-radius: .5rem;
}

a.btnh:hover, a.btnh{
    background-color: rgb(255 212 0 / 96%);
    color: #21252991;
    border-color: #dccf35b5;
    border-radius: .5rem;
}

a.login, a.register{
    background-color:#ff0000;
    border-color: #dccf35b5;
    color: #21252991;
}

.checkbox-select-all-options{
    width: 140px;
}

.cardh { 
    background-color: rgb(0 245 166 / 59%);
    color: black;
    padding: .55rem .55rem;
}

.card {
    box-sizing: content-box;
    white-space: nowrap; 
}

.card-title{
    overflow: hidden;
}

.card-content{
    overflow: hidden;
}

.cardb { 
    height: 80px;   
    color:black;
    overflow: hidden;
    margin-bottom: .3rem;
    padding: .55rem .5rem;
}

a.decoration {
    text-decoration: none;
}

.table-responsive{
    display: block;
    position: relative;
    height: 500px;
    overflow: auto;
}

thead{
    position: sticky;
    top: -1px;
    background-color: #dee2e6;
    z-index: 1;
}

.title-row-table{
    position: sticky;
    left: 0;
    background-color: #dee2e6;
}

.background-title-row-table{
    position: sticky;
    left: 0;
    background-color: #ffffff;
}