<header>
  <nav class="navbar navbar-expand-lg">
  <div class="container d-flex">
    <a class="navbar-brand mr-auto" href="/">Blog</a>
  
    <div class="dropdown show" id="profile">
      <a class="btn dropdown-toggle" style="" href="#" role="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="/posts/create">Create a post</a>
         <a class="dropdown-item" href="/me/stored/posts">My posts</a>
        <a class="dropdown-item" onclick="logout()" href="#">Logout</a>
      </div>
    </div>
   
    <div>
        <a href="#modalLogin" class="btn btnh btn-primary login" hidden = "true" data-toggle="modal">Login</a>
        <a href="#modalRegister" class="btn btnh btn-primary register" hidden = "true" data-toggle="modal">Register</a>
    </div>

    <div class="login" id="login">
      <div id="modalLogin" class="modal fade">
        <div class="modal-dialog modal-login">
          <div class="modal-content">
            
              <div class="modal-header">				
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">				
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" id="usernameLogin" class="form-control" required="required">
                </div>
                <div class="form-group">
                  <div class="clearfix">
                    <label>Password</label>
                  </div>
                  
                  <input type="password" id="passwordLogin" class="form-control" required="required">
                </div>
              </div>
              <div class="modal-footer justify-content-center">
                <button onclick="login()" class="btn btn-primary w-25">Login</button>
              </div>
            
          </div>
        </div>
      </div>      
    </div>

    <div class="register ml-1" id="register">
      <div id="modalRegister" class="modal fade">
        <div class="modal-dialog modal-register">
          <div class="modal-content">
            
              <div class="modal-header">				
                <h4 class="modal-title">Register</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              </div>
              <div class="modal-body">				
                <div class="form-group">
                  <label>Username</label>
                  <input type="text" id="usernameRegister" class="form-control" required="required">
                </div>
                <div class="form-group">
                  <div class="clearfix">
                    <label>Password</label>
                  </div>
                  <input type="password" id="passwordRegister" class="form-control" required="required">
                </div>
                <div class="form-group">
                  <div class="clearfix">
                    <label>Phone</label>
                  </div>
                  <input type="number" id="phone" class="form-control" required="required">
                </div>
                <div class="form-group">
                  <div class="clearfix">
                    <label>Address</label>
                  </div>
                  <input type="text" id="address" class="form-control" required="required">
                </div>
              </div>
              <div class="modal-footer justify-content-center">
                <button onclick="register()" class="btn btn-primary w-25">Register</button>
              </div>
            
          </div>
        </div>
      </div>      
    </div>
  
  </div>
</nav>
</header>

<script>

  function setCookie(cname, cvalue, exdays) {
    let d = new Date();
    d.setTime(d.getTime() + (exdays*24*60*60*1000));
    let expires = "expires="+ d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
  }

  function getCookie(cname) {
    let name = cname + "=";
    let decodedCookie = decodeURIComponent(document.cookie);
    let ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
      let c = ca[i];
      while (c.charAt(0) == ' ') {
        c = c.substring(1);
      }
      if (c.indexOf(name) == 0) {
        return c.substring(name.length, c.length);
      }
    }
    return "";
  }

  function login(){
    $.ajax({
      url: '/account/login',
      type: 'POST',
      data: {
        username: $('#usernameLogin').val(),
        password: $('#passwordLogin').val(), 
      }
    })
    .then(data=>{
      if(data.token && data.username){
        setCookie('token', data.token, 1)
        setCookie('username', data.username,1)
        window.location.reload(true)
      }else{
        alert(data)
      }
    })
    .catch(err=>{
      console.log(err);
    })
  }

  function register(){
    $.ajax({
      url: '/account/register',
      type: 'POST',
      data: {
        username: $('#usernameRegister').val(),
        password: $('#passwordRegister').val(), 
        phone: $('#phone').val(),
        address: $('#address').val(),
      }
    })
    .then(data=>{
      if(data.token && data.username){
        setCookie('token', data.token, 1)
        setCookie('username', data.username,1)
        window.location.reload(true)
      }else{
        alert(data)
      }
    })
    .catch(err=>{
      console.log(err);
    })
  }

  function logout(){
    setCookie('token','', -1)
    setCookie('username','', -1)
    window.location.replace("/")
  }

  if(getCookie('username') && getCookie('token')){
    $('#navbarDropdown').html(getCookie('username'))
  }else{
    $('#navbarDropdown').hide()
    $('.login').removeAttr('hidden')
    $('.register').removeAttr('hidden')
  }
</script>