<div class="mt-4">
    <div class="row">
        {{#each posts}}
            <div class="col-sm-6 col-lg-4">
                <div class="card mb-4 border-primary" title="{{this.title}}">
                    <a class="decoration" href="/posts/{{this._id}}">                  
                        <div class="card-header cardh">
                            <h5 class="card-title">{{this.title}}</h5>     
                        </div>
                        <div class="card-body cardb"> 
                            <div class="card-content">{{{this.content}}}</div>
                        </div>
                    </a>  
                </div>            
            </div>
        {{/each}}
    </div>
</div> 
 