<div class=''>
    <div class="row m-2">
        {{#each photos}}
            <div class="col-sm-6 col-lg-4">
                <img class="w-100" id="img" src="data:{{this.contentType}};base64,{{this.data}}"/>
                <h5 class="mx-3 my-2">{{this.name}}</h5>
            </div>
        {{/each}}
    </div>
</div>