<div class="mt-4">
    <div class="container text-center">
            <h2>{{post.title}}</h2>         
            <p id="content"></p>
    </div>
</div>
<script>
        var parser = new DOMParser();
        var doc = parser.parseFromString("{{post.content}}", 'text/html');
        
        $("#content")[0].innerHTML = doc.body.innerText
</script>